In [1]:
import pandas as pd
import math

In [2]:
dat = pd.read_csv('./dataset/DecisionTree', sep='\t')

In [3]:
dat.head()

   Gender  Ownership Travel Cost  Income Mode
0    Male          0       Cheap     Low  Bus
1    Male          1       Cheap  Medium  Bus
2  Female          0       Cheap     Low  Bus
3    Male          1       Cheap  Medium  Bus
4  Female          1   Expensive    High  Car

## Caculation for Entropy of special column - Mode

In [4]:
# Dem so truong hop
items = pd.unique(dat['Mode'])
n_total = dat['Mode'].count()
p = dict()
for item in items:
    n_i = dat['Mode'].loc[dat['Mode'] == item].count()
    p[item] = n_i/n_total

print(p)

{'Bus': 0.4, 'Car': 0.3, 'Train': 0.3}

In [5]:
# Entropy(S)
entropy_s = 0
for item in p.keys():
    pi = p[item]
    ent_i = -pi*math.log2(pi)
    entropy_s += ent_i
print(entropy_s)

1.5709505944546684

### Caculation for Entropy of Gender with Male value

In [6]:
# Lua ra toan bo male
gender = pd.unique(dat['Gender'])
males = dat.loc[dat['Gender'] == gender[0]]
males

  Gender  Ownership Travel Cost  Income   Mode
0   Male          0       Cheap     Low    Bus
1   Male          1       Cheap  Medium    Bus
3   Male          1       Cheap  Medium    Bus
5   Male          2   Expensive  Medium    Car
8   Male          0    Standard  Medium  Train

In [7]:
# Dem so truong hop
items_male = pd.unique(males['Mode'])
n_total_male = males['Mode'].count()
p_male = dict()
for item in items_male:
    n_i = males['Mode'].loc[males['Mode'] == item].count()
    p_male[item] = n_i/n_total_male
print(p_male)
# Entropy(S)
entropy_male = 0
for item in p_male.keys():
    pi = p_male[item]
    ent_i = -pi*math.log2(pi)
    entropy_male += ent_i
print(f'Entropy(gender=\'Male\') = {entropy_male:.3}')

{'Bus': 0.6, 'Car': 0.2, 'Train': 0.2}
Entropy(gender='Male') = 1.37

### Caculation for Entropy of Gender with Female value

In [8]:
# Lua ra toan bo male
gender = pd.unique(dat['Gender'])
females = dat.loc[dat['Gender'] == gender[1]]
females

   Gender  Ownership Travel Cost  Income   Mode
2  Female          0       Cheap     Low    Bus
4  Female          1   Expensive    High    Car
6  Female          2   Expensive    High    Car
7  Female          1       Cheap  Medium  Train
9  Female          1    Standard  Medium  Train

In [9]:
# Dem so truong hop
items_female = pd.unique(females['Mode'])
n_total_female = females['Mode'].count()
p_female = dict()
for item in items_female:
    n_i = females['Mode'].loc[females['Mode'] == item].count()
    p_female[item] = n_i/n_total_female
print(p_female)
# Entropy(S)
entropy_female = 0
for item in p_female.keys():
    pi = p_female[item]
    ent_i = -pi*math.log2(pi)
    entropy_female += ent_i
print(f'Entropy(gender=\'Female\') = {entropy_female:.3}')

{'Bus': 0.2, 'Car': 0.4, 'Train': 0.4}
Entropy(gender='Female') = 1.52

### Entropy(Gender)

In [10]:
n_gender = dat['Gender'].count()
n_male = dat['Gender'].loc[dat['Gender'] == 'Male'].count()
p_male = n_male/n_gender
p_female = 1-p_male
entropy_gender = p_male*entropy_male + p_female*entropy_female
print(entropy_gender)

1.4464393446710155

### Gain(S,Gender)

In [11]:
## Gain(S,Gender)
gain = entropy_s - entropy_gender
print(f'Gain(S,Gender) = {gain:.3}')

Gain(S,Gender) = 0.125

## Build *get_gain()* function

In [12]:
from source.Gain import get_gain

In [13]:
a = get_gain(dat,'Mode','Gender')
print(f'Gain(S,Gender) = {a:.3}')

Gain(S,Gender) = 0.125

In [15]:
# Get all the names of the features
features = dat.drop('Mode',axis=1).keys()
print(features)

Index(['Gender', 'Ownership', 'Travel Cost', 'Income'], dtype='object')

In [18]:
gain = dict()
fmax = ''
gmax = -1
for feature in features:
    gain[feature] = get_gain(dat,'Mode',feature)
    if gmax < gain[feature]: 
        gmax = gain[feature]
        fmax = feature 
    print(f'Gain(S,{feature}) = {gain[feature]:.3}')
print(f'The most meaning feature is "{fmax}"')

Gain(S,Gender) = 0.125
Gain(S,Ownership) = 0.534
Gain(S,Travel Cost) = 1.21
Gain(S,Income) = 0.695
The most meaning feature is "Travel Cost"